<!doctype html>
<html>
<head>
    <title>Network Inventory</title>
</head>
<body>
    <h1>Network Inventory</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>IP</th>
            <th>OS</th>
            <th>Ports</th>
        </tr>
        {% for device in devices %}
        <tr>
            <td>{{ device[0] }}</td>
            <td>{{ device[1] }}</td>
            <td>{{ device[2] }}</td>
            <td>{{ device[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
